header {
    /* background-color: rgb(111, 155, 238);
    height: 100px;
    width: 100%;
    position: fixed; */

    

    
    ul {
        position: absolute;
        top: 20%;
        right: 0;
       
    }
    
    h1, ul, li {
        display: inline;
    } 
    li {
        margin-top: 10px;
    }
    ul.img-portfolio {
        height: 10px;
        width: 20px;
        position: fixed;
    }
    h3{
        align-items: center;
        position: static;
        
    }

    
}
.head-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;

}
div.head-img {
    font-size: 25px;
  font-weight: bold;
}
.link-group {

    list-style: none;
    display: flex;
}
.link a{
    color: blueviolet;
    opacity: 0.7;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    /* transition: .5s; */
    font-size: 20px;
}
body {
    /* background-color:rgba(68, 68, 68, 0.4) ; */
}
h1 {
    color: #051888;
font-size: 100px;
text-transform: capitalize;
font-weight: 300;

}
h2 {
    color: #2E236C;
    font-size: 50px;
}
p.intro-top {
    color: #4b3e95;
    font-size: 40px;
}
img.image-me {
    position: absolute;
    top: 20%;
    right: 0;
    height: 550px;
    width: 400px;
    object-fit: cover;
    /* opacity: 0.9; */
    border-radius: 5%;
}
.description-me {
    position: relative;
    margin-top: 250px;
    size: 10px;
    h3 {
        color: #051888;
        font-size: 30px;
    }
    p {
        color: navy;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }
}



table {
    border: 2px solid black;
    th, td {
        border: 1px solid;
        

    }

}
h1.social-head {
    align-items: center;
    size: 40px;
}
.grid-social {
    display: grid;
    grid-template: auto auto auto auto;
   grid-gap: 20px;
   height: 100px;
   margin-top: 2%;

   /* background-color: antiquewhite; */

}

.grid-one {
   
    grid-column: 1 / span 1;
  grid-row: 1 / span 1;
    
    
}

.grid-two {
    grid-column: 2 / span 1;
  grid-row: 1 / span 1;
 
}
.grid-three {
    grid-column: 3 / span 1;
  grid-row: 1 / span 1;

}
.grid-four {
    grid-column: 4 / span 1;
  grid-row: 1 / span 1;

}


 footer {
    position: fixed;
    bottom: 1%;
    background-color: rgb(192, 175, 175);
    width: 100%;
    height: 30px;
    text-align: center;

 }